*{
    padding: 0px;
    margin: 0px;
}

/*Encabezado*/

header{
    background-color: #002529;
    height: 90px;
}

.Titulo1{
    
    display: inline-block;
    color: white;
}

.ListaIzquierda ul li h2{
    color: white;
    list-style: none;
    display: flex;
    display: inline;
    justify-content: space-between;
    gap: 10px;
} 